@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #1B2838;
    margin: 0;
    font-family: 'Ubuntu';
}

a {
    text-decoration: none;
    color: #C6D4DF;
}

ul {
    list-style: none;
}

/* Header */
.pageHeader {
    background: #171A21;
    padding: 1.5rem 0;
}
.logoContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.logo {
    width: 176px;
    height: 44px;
}
.headerMenu li {
    display: inline;
    margin-left: 1.2rem;
}
.steamMenu {
    background-color: #387198;
    padding: 0.7rem 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 70%;
    margin: 2rem auto;    
}
    .steamMenu li {
        display: inline;
        margin-left: 2rem;
    }

/* Footer */
.pageFooter {
    background: #111a24;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}
    .footerImages {
        width: 83px;
        height: 25px;
    }
    .pageFooter p {
        color: #8F98A0;
        width: 65%;
    }
    .footerMenu li {
    display: inline;
    margin-left: 1.3rem;
    }
    hr {
        width: 70%;
        border-color: #29363d;
        margin-bottom: 0.4rem;
    }
    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }

/* Panel de Novedades */
.newsPanel {
    display: inline-block;
    width: 65%;
    margin-left: 5%;
    margin-right: 0%;
}
    #noticiaPrincipal {
        border-style: dashed;
        height: 20rem;
    }
    .cuatroNovedades {
        border-style: dashed;
        display: inline-block;
        width: 24.65%;
        height: 8rem;
    }


/*Aside*/
aside {
    display: inline-flex;
}
.btn-menu {
    display: none;
    width: 25px;
}
.btn-menu .icono {
    float: right;
}

.contenedor-menu {
    width: 20%;
    min-width: 300px;
    display: inline-block;
}

.contenedor-menu .menu {
    width: 100%;
}

.contenedor-menu .menu li a{
    display: block;
    padding: 15px 20px;
}

/*Página de Noticias */
.news {
    width: 60%;
    margin: 2rem;
    color: #C6D4DF;
  }
    .news h1, h3 {
      margin: 1rem;
    }
    .news img {
      width: 70%;
      height: 70%;
      margin: 1rem;
    }
    .botonesOpciones li {
      width: 5%;
      height: 5%;
      display: inline-flex;
    }
